 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 912px;
}

.u-section-1 .u-list-1 {
  width: 755px;
  margin: 17px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 971px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  margin: 0 1px;
}

.u-section-1 .u-image-1 {
  width: 22px;
  height: 22px;
  margin: 15px auto 0 47px;
}

.u-section-1 .u-text-3 {
  margin: -22px 2px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 24px;
  height: 22px;
  margin: -22px auto 0 2px;
}

.u-section-1 .u-image-3 {
  width: 21px;
  height: 21px;
  margin: -21px auto 0 91px;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-group-1 {
  width: 596px;
  min-height: 33px;
  height: auto;
  margin: 2px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 7px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto -22px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px 0 0 auto;
  padding: 3px 30px 4px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 9px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 0 1px;
}

.u-section-1 .u-image-4 {
  width: 22px;
  height: 22px;
  margin: 15px auto 0 47px;
}

.u-section-1 .u-text-9 {
  margin: -22px 2px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 24px;
  height: 22px;
  margin: -22px auto 0 2px;
}

.u-section-1 .u-image-6 {
  width: 21px;
  height: 21px;
  margin: -21px auto 0 91px;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 0;
}

.u-section-1 .u-group-2 {
  width: 596px;
  min-height: 33px;
  height: auto;
  margin: 2px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 7px;
}

.u-section-1 .u-text-12 {
  margin: 0 auto -22px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px 0 0 auto;
  padding: 3px 30px 4px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 9px;
}

.u-section-1 .u-text-13 {
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-14 {
  font-style: normal;
  margin: 0 1px;
}

.u-section-1 .u-image-7 {
  width: 22px;
  height: 22px;
  margin: 15px auto 0 47px;
}

.u-section-1 .u-text-15 {
  margin: -22px 2px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 24px;
  height: 22px;
  margin: -22px auto 0 2px;
}

.u-section-1 .u-image-9 {
  width: 21px;
  height: 21px;
  margin: -21px auto 0 91px;
}

.u-section-1 .u-text-16 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-17 {
  margin: 0;
}

.u-section-1 .u-group-3 {
  width: 596px;
  min-height: 33px;
  height: auto;
  margin: 2px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 7px;
}

.u-section-1 .u-text-18 {
  margin: 0 auto -22px 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px 0 0 auto;
  padding: 3px 30px 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -33px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 522px;
  }

  .u-section-1 .u-group-2 {
    width: 522px;
  }

  .u-section-1 .u-group-3 {
    width: 522px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 322px;
  }

  .u-section-1 .u-group-2 {
    width: 322px;
  }

  .u-section-1 .u-group-3 {
    width: 322px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}