.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

.u-section-1 .u-form-1 {
  height: 201px;
  width: 395px;
  margin: 60px auto;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}